* {
    box-sizing: border-box;
}

.videobackground_container {
    width: 100%;
    margin: 0;
    height: 100vh;
    background-image: url(https://raw.githubusercontent.com/nora1931/redesignJKA/master/img/lookbook_billede.jpeg);
    background-size: cover;
    background-position: 50% 50%;
    max-width: none;
}

#content_container {}
