@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #f0eae2;
    margin: 0;
}

main {
    margin-top: 100px;
    margin-left: 20px;
    margin-right: 20px;
}

@media (min-width:650px) {
    main {
        margin-left: 40px;
        margin-right: 40px;
    }
}

@media (min-width:1000px) {
    main {
        margin-left: 80px;
        margin-right: 80px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Russo One', sans-serif;
}

h1 {
    text-align: center;
    color: #597465;
    font-size: 2.5em;
    text-transform: uppercase;
}

p {
    font-family: 'Questrial', sans-serif;
    line-height: 1.5;
    margin-top: -8px;
}

a {
    color: #4B5D4E;
    text-decoration-style: dashed;
    font-family: 'Questrial', sans-serif;
}

a:hover {
    color: #DCE0CC;
    text-decoration-style: solid;
}

figure {
    margin: 0;
}

input,
select {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 5px;
    height: 40px;
    margin-bottom: 10px;
    font-size: 16px;
    appearance: none;
    -webkit-appearance: none;
    text-align: center;
    text-align: -webkit-center;
    text-align-last: center;
    background-color: #fff;

}

input[type=submit],
select {
    cursor: pointer;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

/*FOOTER*/
footer {
    margin-top: 40px;
    background-color: #597465;
    color: #fff;
}

footer .footer_photo_container {
    display: grid;
    grid-template-columns: 1fr;
}

.footer_photo {
    height: 200px;
    float: left;
    background-size: cover;
    background-position: center;
}

.footer_photo a {
    font-size: 20px;
    font-weight: 700px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: rgba(81, 106, 92, 0.4);
}

.footer_photo a:hover {
    background: rgba(81, 106, 92, 0.2);
}

.footer_photo_1 {
    background-image: url(../img/jka_footer_1.jpg)
}

.footer_photo_2 {
    background-image: url(../img/jka_footer_2.jpg)
}

.footer_photo_3 {
    background-image: url(../img/jka_footer_3.jpg)
}

footer .footer_content_container {
    padding: 20px 20px 0px 20px;
}

.footer_row_one {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
}

footer dl {
    margin: 0;
    line-height: 1.5;
}

footer a {
    color: #fff;
}

footer a:hover {}

footer .newsletter_row_one {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 20px;
}

footer input[type=submit] {
    background-color: #DCE0CC;
}

.footer_row_two {
    text-align: center;
}

.footer_row_two img {
    height: 15px;
    margin: 0 10px;
}

.footer_row_three p {
    text-align: center;
    padding: 20px 0;
    font-size: 12px;
    margin-bottom: 0;
}

@media (min-width:650px) {

    footer .footer_photo_container {
        grid-template-columns: 1fr 1fr 1fr;
    }

    footer .footer_content_container {
        padding: 20px 80px 0px 80px;
    }

    footer .footer_row_one {
        grid-template-columns: 1fr 1fr;
    }

    .footer_row_one {
        text-align: left;
    }

    .footer_row_two img {
        height: 20px;
    }

    footer .newsletter_row_one {
        grid-template-columns: 1fr 1fr;
    }
}

/*--HEADER--*/

header {
    position: absolute;
    z-index: 2;
}

header .hidden {
    display: none;
    transform: scale(0);
    transform: translateX(-100%);
    opacity: 0;
}

header #menu {
    list-style-type: none;
    text-align: center;
    position: absolute;
    width: 100%;
    padding-top: 100px;
    padding-left: 0;
    margin: 0;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    font-size: 2em;
    line-height: 2;
    background-color: #DCE0CC;
}

header #menu a:hover {
    color: #F0F0F0;
}

header .row {
    height: 70px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
}

header .nav_menu {
    justify-content: left;
    display: flex;
}

header #menuknap {
    font-size: 3em;
    margin: auto 0 auto 12px;
    max-height: 70px;
    text-align: left;
    color: #DCE0CC;
    cursor: pointer;
}

.nav_logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_logo img {
    height: 30px;
}

.nav_basket {
    justify-content: right;
    display: flex;
    margin: auto 20px auto 0;
}

.nav_basket img {
    height: 35px;
}

@media (min-width:650px) {
    header #menuknap {
        margin: auto 0 auto 32px;
    }

    .nav_basket {
        margin: auto 40px auto 0;
    }
}

@media (min-width:1000px) {
    header #menuknap {
        margin: auto 0 auto 72px;
    }

    .nav_basket {
        margin: auto 80px auto 0;
    }
}
