h3 {
    text-align: center;
}

.lookbok_container {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 40px;
    grid-row-gap: 20px;
}

.lookbok_container img {
    width: 100%;
    object-fit: cover;
}

figcaption {
    background-color: #ffffff;
    margin-top: -6px;
    text-align: center;
    padding: 10px 20px;
}

.lookbok_photo {
    height: 100%;
}

figure {
    justify-content: center;
}

@media (min-width:650px) {

    .lookbok_container {
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 40px;
    }
}
