body {
    background-color: #f0eae2;
    margin: 0;
}

main {
    margin: 0 20px;
}

.produkt_container {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 20px;
    grid-row-gap: 20px;
}

.product {
    text-decoration: none;
    color: #000000;
}

.product_img_container {
    height: 70vh;
    min-height: 300px;
    width: 100%;
}

.product_img {
    background-image: url(../img/115_cargopants.png);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}

.product_img:hover {
    background-image: url(../img/3billeder_billede2.jpg)
}

.product_description {
    background-color: #fff;
    padding: 16px 8px;
    text-align: center;
}

.product_brand {
    font-size: 12px;
}

@media (min-width:550px) {
    .produkt_container {
        grid-template-columns: 1fr 1fr;
    }

    main {
        margin: 0 40px;
    }
}

@media (min-width:1000px) {
    .produkt_container {
        grid-template-columns: 1fr 1fr 1fr;
    }

    main {
        margin: 0 80px;
    }
}

/*FOOTER*/

footer {
    margin-top: 40px;
    background-color: darkslategrey;
    color: #fff;
    padding: 20px 20px 0px 20px;
}

.footer_row_one {
    display: grid;
    grid-template-columns: 1fr;
}

footer dl {
    margin: 0;
}

footer a {
    color: #fff;
    text-decoration-style: dashed;
}

footer a:hover {
    color: beige;
    ;
    text-decoration-style: solid;
}

footer .newsletter_row_one {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}

footer input {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 5px;
    height: 40px;
    text-align: center;
    margin-bottom: 10px;
    font-size: 16px;
}

.footer_row_two {
    text-align: center;
}

.footer_row_two img {
    height: 15px;
    margin: 0 10px;
}

.footer_row_three p {
    text-align: center;
    padding: 20px 0;
    font-size: 12px;
    margin-bottom: 0;
}

@media (min-width:550px) {

    footer {
        margin-top: 40px;
        padding: 20px 80px 0px 80px;
    }

    footer .footer_row_one {
        grid-template-columns: 1fr 1fr;
    }

    .footer_row_two img {
        height: 20px;
    }
}
