.produkt_container {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 20px;
    grid-row-gap: 20px;
}

.product {
    text-decoration: none;
    color: #000000;
}

.product_img_container {
    height: 70vh;
    min-height: 300px;
    width: 100%;
}

.product_img {
    background-image: url(../img/115_cargopants.png);
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
}

.product_img:hover {
    background-image: url(../img/3billeder_billede2.jpg)
}

.product_description {
    background-color: #fff;
    padding: 16px 8px;
    text-align: center;
}

.product_brand {
    font-size: 12px;
}

@media (min-width:550px) {
    .produkt_container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width:1000px) {
    .produkt_container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
